h2 {
	margin: 0px;
}

.copy-right {
	margin-top: 15px;
}

#slider-container {
	float: left;
	width: 100%;
	height: 300px;
	position: relative;
	margin: 0px 15px;
}
.list-group {
	position: relative;
}

.list-group-item {
	padding: 10px 10px;
}

.list-group-item.active:hover {
	border-color: #0b9b47;
	background-color: #0b9b47
}
.list-group .green {
	border: none;
	border-radius: 3px 3px 0px 0px;
	background-color: #0b9b47
}
.panel .view-all {
	height: 38px;
}

.panel-primary.green {
	position: relative;
	border: none;
}
.panel-primary .green {
	background-color: #0b9b47
}
.panel-body {
	border: 1px solid #ccc;
	border-top: none;
}


.thumbnail {
	margin-bottom: 5px;
}
.thumbnail>img {
	width: 100%;
	height:150px;
}
.thumbnail-abc>img{
	width: 100%;
	height:200px;
}
.caption{
	font-size: 1em;
	text-transform: uppercase;
font-weight:bold;
}
.location, .price {
	color: #ff7a07;
	font-size: 1em;
}

.caption a{ 
	color: #0b9b47;
	text-decoration: none;
}
.view-all {
	position: absolute;
    top: 0px;
    right: 0px;
    width: 90px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    border-radius: 0px 3px 0 0;
    background-color: #ff7a07;
    z-index: 10;
}
.view-all:hover {
	color: white;
	text-decoration: none;
}
.tab-content {
	margin-bottom: 20px;
	position: relative;
}
.tab-pane {
	margin-left: 90px;
	padding: 15px 10px 15px 20px;
	text-align: justify;
	border-radius: 10px;
	border : 2px solid #18aa59;
	min-height: 500px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border : 1px solid #18aa59;
	border-bottom: none;
}
.navbar-default {
	background-color: white;
	border: none !important;
	color: #ccc;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color:#FF0000;
	color: red;
}

.breadcrumbs {
	padding: 5px 0px;
}

.post {
	margin-top: 10px;
}
p.title {
	color: #0b9b47;
	font-size: 1.2em;
	font-weight: bold;
}
.post p.view, p.time {
	color: #7A7A7A;
	font-size: 12px;
	margin: 0px;
}
.post .post-content img {

}
.other-post {
	margin-top: 20px;
}

.other-post .title {
	color: #0b9b47;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
}
.other-post .title span.glyphicon {
    font-size: 1.2em;
}
.list-post {
	margin-left: 10px;
}
.list-post p span.glyphicon {
	color: #0b9b47;
}

.list-post a {
	color: #333;
	text-decoration: none;
	padding: 5px;
}

.list-post a:hover {
	color: #0b9b47;
}
.latest-post .time {

}
.news h2 {
	color: #0b9b47;
	font-size: 1.3em;
	text-transform: uppercase;
	border-bottom: 1px dashed #999;
	padding: 5px 0px;
}

.news .breadcrumbs {
	border-bottom: 1px dashed #999
}
.posts {
	margin-top: 30px;
}
.posts .title {
	color: #0b9b47;
	font-size: 1.2em;
}
.posts .item {
	padding: 10px 0px;
	border-bottom: 1px dashed #999
}

.static-page h2 {
	color: #0b9b47;
	font-size: 1.3em;
	text-transform: uppercase;
	border-bottom: 1px dashed #999;
	padding: 5px 0px;
}
.static-page .post-content {
	margin-top: 20px;
}

.page .breadcrumbs {
	border-bottom: 1px dashed #999;
	margin-bottom: 20px;
}

.post .breadcrumbs {
	border-bottom: 1px dashed #999;
	margin-bottom: 20px;
}

.breadcrumbs a {
	color: #0b9b47;
	text-transform: uppercase;
	font-size: 1.3em;
	text-decoration: none;
	font-weight: bold;
}
.breadcrumbs .padding {
	padding: 0 10px 0 10px;
}


img {
	max-width: 100%;
}

.mt-40 {
	margin-top: 40px;
}

.mt-20 {
	margin-top: 20px;
}

.aligncenter {
	display: block;
    margin-left: auto;
    margin-right: auto
}

.share-box {
	margin-bottom: 20px;
}


div.tabs {
    list-style: none;
    width: 90px;
    cursor: pointer;
    z-index: 2;
}

div.tabs div.tab {
    display: block;
    height: 38px;
    background: #18aa59;
    border: #15c360 solid 1px;
    border-top: none;
    position: relative;
    color: #fff;
}
div.tabs div.tab.first {
    border-top: #15c360 solid 1px;
    -moz-border-radius-topleft: 13px;
    border-top-left-radius: 13px;
}
div.tabs div.tab.last {
    -moz-border-radius-bottomleft: 13px;
    border-bottom-left-radius: 13px;
}
div.tabs div.link {
    padding-left: 10px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

div.tabs div.tab:hover, div.tabs  div.tab.selected {
    background: gray;
}

#left-tab-duan{
	position: absolute;
	left: 2px;
	top: 20px;
}
#left-tab-duan.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}

.navbar-nav {
	position: relative;
	padding: 15px 15px;
}

.navbar-nav>li>a {
    padding: 5px 15px;
}

.nav li a {
    color: #9d9c9c;
    z-index: 10;
    position: relative;
    overflow: hidden;
}

.lavalamp-object {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #3b3a3a;
    position: absolute;
}


.slider {
	width: 100%;
}
.metaslider {
	margin: 0 auto;
}
.normal-text {
	font-size: 1em;
	font-weight: normal;
	line-height: 1.4em;
}
.hotline {
    font-size: 1.5em;
    color: #F00;
    font-weight: bold;
}
.contact-form .title {
	float: left;
	width: 30%;
	font-size: 0.9em;
}
.contact-form input {
	display: inline;
	width: 70%;
}
.contact-form textarea {
	display: inline;
	width: 70%;
	height: 100px;
}
.contact-form .wpcf7-submit {
	background-color: #ff7a07;
	border-radius: 4px;
	border-color: #ff7a07;
	color: white;
	float: right;
	width: auto;
}
.list-projects-cat .glyphicon{
	padding: 5px 5px;
	color: green;
	font-size: 1.2em;
}
.support-widget{
	border: 1px solid #ccc;
	margin-bottom: 20px;
}
.support-widget .title_support {
	color: white;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	background-color: #0b9b47;
}
.support-widget .title {
	margin-left: 5px;
}
.widget {
	margin-bottom: 20px;
}
.post-content {
	margin-top: 10px;
}
.footer{
    background:#0b9b47;
}
.header{
    background: #0b9b47;
}
body{ 
    background: #f6f6f6
}
.navbar-inverse{
    background: white;
}
.navbar-inverse .navbar-nav > li > a{ 
    color: #0b9b47;
    font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a:hover{ 
    color: #0b9b47;
    font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: white;
    background-color:transparent;
}
.navbar-inverse .navbar-nav > li.current > a { 
    color: white;
    font-weight: bold;
}
<<<<<<< HEAD
@media (min-width: 1400px)
.container {
    width: 1400px;
}
@media (min-width: 1200px)
.container {
    width: 1400px;
}
@media (min-width: 992px)
.container {
    width: 1200px;
}
@media (min-width: 768px)
.container {
    width: 750px;
}
=======
@media (min-width: 1200px) {
    .container {
         width: 1000px;
    }
}
@media (min-width: 992px){
    .container {
        width: 970px;
    }
}
>>>>>>> e9218a35e9fd14b7104a7f94e6313cdace2b3e33
